RUST_LOG=info
RUST_BACKTRACE=1
# RUST_LOG=debug 
ADDR=localhost
PORT=3213

NODE_URL="https://api.testnet.shimmer.network"
FAUCET_URL="https://faucet.testnet.shimmer.network/api/enqueue"
EXPLORER_URL="https://explorer.shimmer.network/testnet"

WALLET_ALIAS="Issuer"
NON_SECURE_MNEMONIC="robust attend output pole fabric poem business leisure legend lecture lazy organ record zoo assault crumble range saddle boy method cabbage another legal notable"
STRONGHOLD_PASSWORD="yoursecurepassword"

SHIMMER_JSON_RPC_URL="https://json-rpc.evm.testnet.shimmer.network"
SHIMMER_EVM_EXPLORER="https://explorer.evm.testnet.shimmer.network"
PRIVATE_KEY="issuer_eth_account_private_key"

IDENTITY_SC_ADDRESS="0xa3740B38131A0738DA7A6097261f5Bc5500cb24d"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="issuer"