# Rust flags
RUST_BACKTRACE=1
RUST_LOG=debug # minimum level of logging, also "info" is a possible value

# HTTP SERVER SETUP
HOST_ADDRESS=127.0.0.1 # "0.0.0.0" for deploying, "127.0.0.1" for dev
HOST_PORT=3213

# DLT CONFIG
NODE_URL="https://api.testnet.shimmer.network"
FAUCET_API_ENDPOINT="https://faucet.testnet.shimmer.network/api/enqueue"
RPC_PROVIDER="https://json-rpc.evm.testnet.shimmer.network"
CHAIN_ID=1073

# KEY STORAGE CONFIGURATION
KEY_STORAGE_STRONGHOLD_SNAPSHOT_PATH="./key_storage.stronghold"
KEY_STORAGE_STRONGHOLD_PASSWORD="some_hopefully_secure_password"
KEY_STORAGE_MNEMONIC="strategy exercise globe absent hill help demand mistake rival report fame owner drift treat gather gospel anxiety limb tribe exhaust october foil title account"

ISSUER_PRIVATE_KEY="6510a3e16555d6d2d62c37cbcad175627041a3edbb6fa55ff64f10d618c9e273"
IDENTITY_SC_ADDRESS="0xa8f364E1829eBf480e738057953b38f79fe2E17A"

# DATABASE CONNECTION CONFIG
DB_USER="postgres"
DB_PASSWORD="issuer"
DB_NAME="identity"
DB_HOST=mediterraneus-issuer-postgres # "issuer-postgres" for deploying, "127.0.0.1 " for dev
DB_PORT=5432 # "5432" for deploying, "5433" for dev
DB_MAX_POOL_SIZE=16